body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    height: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    background: #ffcad4;
    color: #111d13;
    border: 3px outset #6c584c;
    text-shadow: 2px 3px grey; 
    animation-name: background;
    animation-duration: 3s;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

h2:hover, h5:hover, h4:hover {
    color:red
}

@keyframes background {
    from {background-color: #111d13}
    to {background-color: #3a86ff}
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

